<p>"Bienvenue dans la création d'utilisateurs !"</p>

<form>
  Username:<br>
  <input type="text" name="username"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Bio:<br>
  <textarea type="text" name="bio"> </textarea>
</form>
